.button {
  width: 276px;
  min-height: 55px;
  padding: 0;

  color: #ffffff;
  font-size: @fs-l;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Open Sans";

  border: 2px solid @green;
  background-color: @green;
}
