.comments {
  background-color: #ffffff;
}

.comments__list {
  margin: 0;
  padding: 0;
  padding: 0 20px;

  text-align: center;
  list-style: none;
}

.comments__title {
  font-size: @fs-l;
  line-height: 24px;
  font-weight: bold;
  color: @black;
}
