.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - (95px * 2));
  margin: 0 auto 40px;
}

.copyright__text {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  color: @darkviolet-color;
}

.copyright__logo-html {
  margin-left: 15px;
  vertical-align: bottom;

  fill: #d22856;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 130px;
    margin: 0;
  }
}
