.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - (95px * 2));
  margin: 0 auto 40px;
}

.copyright__text {
  margin: 0;
  font-size: @fs-m;
  color: @dark;
  line-height: 18px;
}

.copyright__logo-html {
  vertical-align: bottom;
  fill: #d22856;
  margin-left: 15px;
}
