.description {
  text-align: center;
  padding: 0 30px 0;
}

.description__introduction {
  font-size: @fs-xl;
  font-weight: lighter;
  color: @dark;
  padding: 0 28px 0;
}

.description__list {
  list-style: none;
  padding: 0;
}

.description__title {
  font-size: @fs-l;
  font-weight: bold;
  color: @black;
  margin: 0;
}

.description__report {
  color: @dark;
  font-size: @fs-m;
  line-height: 24px;
  margin-bottom: 40px;
}
