.download {
  height: 271px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: @dark;
}

.download__wrapper {
  width: 205px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download__link {
  width: 275px;
  min-height: 49px;
  border: 3px solid #ffffff;
  border-radius: 49px;
  text-align: center;
  vertical-align: middle;
  text-transform: none;
  font-size: 18px;
  line-height: 49px;
  font-weight: bold;
  margin-top: 28px;
}

.download__recitation {
  display: block;
  width: 230px;
  text-align: center;
  font-size: @fs-m;
  font-weight: lighter;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 35px;
}
