.fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.fieldset__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.fieldset--write .fieldset__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.fieldset--textarea .fieldset__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldset--check,
.fieldset--radio {
  background-color: #f2f2f2;
}

.fieldset--write .fieldset__label,
.fieldset__legend {
  padding-left: 43px;

  color: @crimson-color;
  text-transform: uppercase;
  line-height: 30px;
}

.fieldset__legend {
  padding: 40px 50px;

  line-height: 18px;
  text-align: center;
}

.fieldset__legend--hidden {
  display: none;
}

.fieldset--check .fieldset__legend,
.fieldset--radio .fieldset__legend {
  background-color: @whitesmoke-color;
}

.fieldset__input--text {
  width: 100%;
  min-height: 55px;
  margin: 0 22px 25px;
  padding: 0 20px;

  border: 2px solid @lightgray-color;
}

.fieldset--write .fieldset__item:last-child {
  margin-bottom: 19px;
}

.fieldset__label--checkbox,
.fieldset__label--radio {
  font-size: 18px;
  line-height: 30px;

  cursor: pointer;
  user-select: none;
}

.fieldset--check .fieldset__item,
.fieldset--radio .fieldset__item {
  position: relative;

  margin: 25px 22px 25px 90px;
}

.fieldset__input--checkbox + .fieldset__label--checkbox::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -70px;

  width: 35px;
  height: 35px;

  border: 2px solid @lightgray-color;
  background-color: #ffffff;
}

.fieldset__input--checkbox:checked + .fieldset__label--checkbox::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -59px;

  width: 18px;
  height: 7px;

  border-left: 2px solid @pink-color;
  border-bottom: 2px solid @pink-color;
  transform: rotate(-45deg);
}

.fieldset__input--radio + .fieldset__label--radio::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -70px;

  width: 35px;
  height: 35px;

  border: 2px solid @lightgray-color;
  border-radius: 50%;
  background-color: #ffffff;
}

.fieldset__input--radio:checked + .fieldset__label--radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -58px;

  width: 15px;
  height: 15px;

  background-color: @pink-color;
  border-radius: 50%;
}

.fieldset__textarea {
  width: 232px;
  min-height: 193px;
  padding: 0 20px;
  margin-bottom: 50px;

  border: 2px solid @lightgray-color;

  resize: none;
}

.fieldset__input::placeholder,
.fieldset__textarea::placeholder {
  color: @darkviolet-color;
  font-size: 18px;
  line-height: 30px;
}

.fieldset__input::-ms-input-placeholder,
.fieldset__textarea::-ms-input-placeholder {
  padding-left: 20px;
  padding-right: 2px;

  color: @darkviolet-color;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .fieldset {
    margin-bottom: 50px;
  }

  .fieldset__legend {
    margin-bottom: 30px;
    padding: 10px;
  }

  .fieldset__legend--hidden {
    display: block;
  }

  .fieldset--write .fieldset__item {
    flex-wrap: nowrap;
    align-items: baseline;
    margin-left: 0;
    width: 660px;
    margin-right: auto;
  }

  .fieldset__input--text {
    width: 100%;
  }

  .fieldset--write .fieldset__label {
    padding-left: 20px;

    font-size: 14px;
  }

  .fieldset:not(:first-of-type){
    border: 2px solid @lightgray-color;
  }

  .fieldset__list {
    width: 616px;
  }

  .fieldset--check,
  .fieldset--radio,
  .fieldset--check .fieldset__legend,
  .fieldset--radio .fieldset__legend {
    background-color: transparent;
  }

  .fieldset--write:first-of-type {
    order: 1;
  }

  .fieldset--radio {
    order: 2;
  }

  .fieldset--write {
    order: 3;
  }

  .fieldset--check {
    order: 4;
  }

  .fieldset--textarea {
    order: 5;
  }

  .fieldset__textarea {
    width: 496px;
  }

  .fieldset--check .fieldset__item,
  .fieldset--radio .fieldset__item {
    margin-left: 120px;
  }

  .fieldset--write .fieldset__item--contacts {
    flex-direction: column-reverse;
  }

  .fieldset__item--contacts .fieldset__label {
    padding-left: 75px;
    margin-bottom: 30px;
  }

  .fieldset__item--contacts .fieldset__input {
    width: 456px;
    margin: 10px 0 10px 60px;
  }

  .fieldset__item--contacts .fieldset__input[name="tel"]::before,
  .fieldset__item--contacts .fieldset__input[name="email"]::before {
    content: "";

    position: absolute;
    right: 0;
    top: 0;

    width: 60px;
    height: 60px;
    background-color: @whitesmoke-color;
  }
}

@media (min-width: @desktop-width) {
  .fieldset--write:first-of-type {
    width: 440px;
    }

  .fieldset__input--text{
    margin: 0 0 0 20px;
  }
  .fieldset--write:first-of-type .fieldset__list {
    flex-direction: column;
    justify-content: space-between;
    min-height: 320px;
  }

  .fieldset--radio {
    width: 440px;
    min-height: 320px;
  }

  .fieldset--write .fieldset__item {
    width: 440px;
  }

  .fieldset__list {
    width: 440px;
  }

  .fieldset__list--row {
    flex-direction: row;
    width: 100%;
  }

  .fieldset--write .fieldset__item:last-child {
    margin: 0;
  }

  .fieldset__item--contacts .fieldset__input {
    width: 275px;
  }

  .fieldset--w100 {
    width: 100%;
  }

  .fieldset--check .fieldset__list {
    flex-direction: column;
    flex-wrap: wrap;
    width: 960px;
    height: 200px;
  }

  .fieldset--textarea .fieldset__list {
    width: 100%;
  }

  .fieldset--textarea {
    width: 960px;
  }

  .fieldset__textarea {
    width: 776px;
  }
}
