.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    align-items: baseline;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}

.page-footer__inner {
  .container();
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 275px;
  margin-top: auto;
  margin-bottom: 30px;

  @media @tablet-width {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .container();
    height: 120px;
  }

  @media @desktop-width {
    height: 160px;
    width: 940px;
  }
}

.page-footer__inner--index {
  display: none;

  @media @tablet-width {
    display: flex;
  }
}

.page-footer__inner--form {
  @media @desktop-width {
    margin-bottom: 40px;
  }
}

.page-footer__logo-wrapper {
  display: flex;
  align-items: flex-end;
  flex-basis: 100px;

  &--photo {
    flex-basis: 90px;
  }

  &--form {
    flex-basis: 60px;
    padding-top: 5px;
  }

  @media @tablet-width {
    flex-basis: 145px;
  }

  @media @desktop-width {
    align-items: flex-start;
  }
}

.page-footer__logo {
  width: 149px;
  height: 45px;

  @media @tablet-width {
    width: 152px;
    height: 43px;
  }

  @media @desktop-width {
    margin-bottom: 6px;
  }
}

.page-footer__logo-icon {
  &--tablet {
    display: none;
  }

  @media @desktop-width {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

.page-footer__logo-link {
  fill: @darkviolet-color;

  &:hover {
    fill: @crimson-color;
  }

  &:active {
    fill: @darkviolet-color;
    opacity: 0.3;
  }
}

.page-footer__map {
  position: relative;
  overflow: hidden;
  width: 100%;

  vertical-align: bottom;

  @media @tablet-width {
    min-height: 370px;
  }

  @media @desktop-width {
    min-height: 505px;
  }
}
