.page-header {
  overflow: hidden;
  background-color: @darkviolet-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;

  z-index: 10000;

  &--inner {
    background-position: center bottom -222px;
  }

  @media @tablet-width {
    background-image: url("../../img/bg-back-tablet@1x.jpg");

    &--inner {
      background-position: center bottom -290px;
    }
  }

  @media @desktop-width {
    background-image: url("../../img/bg-back-desktop@1x.jpg");

    &--inner {
      background-position: center bottom -460px;
    }
  }
}

@media (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
    background-size: 700px 466px;

    &--inner {
      background-position: center bottom -224px;
    }
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../../img/bg-back-tablet@2x.jpg");
    background-size: 1200px 729px;

    &--inner {
      background-position: center bottom -290px;
    }
  }
}

@media (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../../img/bg-back-desktop@2x.jpg");
    background-size: 2560px 865px;

    &--inner {
      background-position: center bottom -475px;
    }
  }
}

.page-header__demo-img {
  @media @mobile-width-only {
    margin: 0 auto;
    margin-top: 0;
    width: 320px;
    min-height: 286px;
  }

  @media @tablet-width {
    margin: 0 auto;
    margin-top: 73px;
    width: 600px;
    min-height: 545px;
  }

  @media @desktop-width {
    margin-top: 93px;
    width: 860px;
    min-height: 675px;
  }
}

.page-header__demo-img img {
  @media @tablet-width {
    position: relative;
    left: -50px;
  }

  @media @desktop-width {
    left: -25px;
    bottom: -5px;
  }
}

.page-header__title {
  .container();
  padding-top: 30px;
  padding-bottom: 82px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: @light;
  text-align: center;
  color: #ffffff;
}

.page-header__title--form {
  padding-bottom: 50px;

  @media @tablet-width {
    width: 500px;
    margin: auto;
    padding-top: 71px;
    padding-bottom: 85px;

    font-size: 50px;
    line-height: 58px;
    font-weight: @light;
  }

  @media @desktop-width {
    width: 800px;
    padding-top: 64px;
    padding-bottom: 103px;
  }
}

.page-header__title--photo {
  @media @tablet-width {
    width: 350px;
    padding-top: 74px;
    padding-bottom: 140px;

    font-size: 50px;
    line-height: 58px;
    font-weight: @light;
  }

  @media @desktop-width {
    padding-top: 64px;
    padding-bottom: 105px;
  }
}

.page-header__title--index {
  padding-top: 23px;
  padding-bottom: 0;
  margin-bottom: 25px;

  @media @tablet-width {
    display: none;
  }
}
