.photo-users__promo-text {
  .container();
  padding-top: 45px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 49px;

  text-align: center;
  box-sizing: border-box;

  @media @tablet-width {
    padding-top: 95px;
    margin-bottom: 75px;
    padding-left: 35px;
    padding-right: 35px;

    font-size: 18px;
    line-height: 30px;
    font-weight: @regular;
  }

  @media @desktop-width {
    padding-left: 175px;
    padding-right: 175px;
    margin-bottom: 91px;

    font-size: 18px;
    line-height: 30px;
  }
}

.photo-users__content {
  display: flex;
  flex-direction: column;

  @media @tablet-width {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photo-users__wrapper {
  .container();
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  @media @tablet-width {
    flex-direction: row;
    justify-content: space-between;
  }
}

.photo-users__wrapper--panorama {
  @media @tablet-width {
    flex-direction: row-reverse;
  }
}
