.price {
  position: relative;
  background: @whitesmoke-color url("../../img/bg-triangle-white.svg") no-repeat;
  background-position: -11px 0;
  background-size: 100% 30px;
  overflow: hidden;

  @media @tablet-width {
    background-size: 100% 50px;
  }

  @media @desktop-width {
    background-size: 100% 75px;
  }
}

.price__wrapper {
  .container();
  padding-top: 91px;

  @media @tablet-width {
    padding-top: 88px;
    padding-bottom: 71px;
  }

  @media @desktop-width {
    padding-top: 145px;
    padding-bottom: 91px;
  }
}

.price__table {
  position: relative;

  width: 825px;
  left: -98%;
  border-collapse: collapse;
  background: white;

  @media @tablet-width {
    left: 0;
    width: 620px;
  }

  @media @desktop-width {
    width: 940px;
    margin: 0 auto;
  }
}

.price__title {
  position: relative;

  height: 95px;

  font-size: 18px;
  line-height: 30px;
  font-weight: @bold;
  text-align: center;

  border: 1px solid #e5e5e5;
  background: #283645;
  color: #ffffff;

  @media @tablet-width {
    height: 75px;
  }

  @media @desktop-width {
    height: 95px;
  }
}

.price__title--popular {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 74px;
    height: 74px;

    background: url("../../img/bg-hit.svg") no-repeat;
  }

  &::after {
    content: "хит";
    position: absolute;
    top: 10px;
    left: 10px;

    transform: rotate(-45deg);
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: @regular;
  }

  @media @tablet-width {
    &::before {
      background: url("../../img/bg-hit-tablet.svg") no-repeat;
      background-size: 61px 61px;
    }

    &::after {
      top: 4px;
    }
  }

  @media @desktop-width {
    &::before {
      top: 0;
      left: 0;

      background-size: 70px 70px;
    }

    &::after {
      top: 15px;
    }
  }
}

.price__title--hidden {
  display: none;

  @media @tablet-width {
    display: table-cell;

    background: @whitesmoke-color;
    border: none;
  }
}

.price__option {
  position: relative;

  height: 58px;
  width: 110px;
  padding-left: 25px;
  padding-right: 25px;

  font-size: 14px;
  line-height: 30px;
  font-weight: @regular;

  border: 1px solid #e5e5e5;
  text-transform: uppercase;

  @media @tablet-width {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;

    font-size: 0;
  }

  @media @desktop-width {
    width: 120px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.price__option--base {
  display: none;

  @media @tablet-width {
    display: table-cell;

    font-size: 14px;
    font-weight: @light;
    text-transform: none;
  }

  @media @desktop-width {
    font-size: 18px;
    line-height: 30px;
    font-weight: @regular;
  }
}

.price__icon {
  position: absolute;
  right: 15px;

  width: 30px;
  height: 25px;

  background-repeat: no-repeat;
  background-size: 31px 25px;

  @media @tablet-width {
    right: 63px;
    top: 10px;
  }

  @media @desktop-width {
    right: 105px;
    top: 15px;
  }
}

.price__icon--yes {
  background-image: url("../../img/icon-yes.svg");
}

.price__icon--no {
  background-image: url("../../img/icon-no.svg");
}

.price__package {
  text-transform: uppercase;
  font-weight: @bold;

  @media @tablet-width {
    font-size: 16px;
  }

  @media @desktop-width {
    font-size: 18px;
    line-height: 30px;
  }
}

.price__price {
  display: block;

  font-size: 24px;
  font-weight: @light;
  text-transform: uppercase;

  @media @tablet-width {
    font-size: 18px;
  }

  @media @desktop-width {
    font-size: 24px;
    line-height: 30px;
  }
}

.price__controls {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 45px;

  @media @tablet-width {
    display: none;
  }
}
