.price {
  background: url("@{imgDir}/bg-triangle-white.svg") no-repeat 50% 0%;
}

.price__wrapper {
  margin: 0 auto;
  padding: 125px 0 100px;

  overflow-x: hidden;
}

.price__list {
  width: 828px;
  margin-left: -80%;

  background-color: #ffffff;
  border-collapse: collapse;
}

.price__row:first-of-type,
.price__row:nth-of-type(2) {
  line-height: 30px;
  color: #ffffff;
  text-align: center;

  background-color: @dark;
}

.price__title,
.price__cost {
  width: 276px;

  border-right: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
}

.price__title {
  padding-top: 10px;

  font-size: @fs-l;
  font-weight: bold;
}

.price__cost {
  padding-bottom: 10px;

  font-size: @fs-xl;
  font-weight: lighter;
}

.price__options {
  padding: 0;
  padding-left: 20px;

  line-height: 30px;
  text-transform: uppercase;

  border: 2px solid #f2f2f2;
}
