.reviews {
  display: flex;
  flex-direction: column;
  justify-content: start;

  line-height: 24px;
  color: @darkviolet-color;
  font-size: 14px;

  background-color: @whitesmoke-color;
}

.reviews__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.reviews__author {
  font-weight: @bold;
  font-style: normal;
}

.reviews__time {
  margin: 0;

  font-size: 12px;
  font-weight: @light;
  text-transform: uppercase;
}

.reviews__wrapper-like {
  display: flex;
  flex-wrap: wrap;
}

.reviews__button-heart {
  padding: 0;

  border: none;
}

.reviews__image-heart {
  fill: @crimson-color;
}

.reviews__like {
  margin: 0;
  padding-left: 19px;

  font-size: 12px;
  color: @crimson-color;
  text-transform: uppercase;
}
