.social {
  width: calc(100% - (88px * 2));
  margin: 55px auto 57px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__image {
  position: relative;
  display: block;
  fill: #d22856;
}

.social__image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -23px 0 0 -23px;
  width: 40px;
  height: 40px;
  border: 3px solid @dark;
  border-radius: 50%;
  opacity: 0.1;
}
